.Input {
    margin: 16px;   
    padding: 16px 100px 16px 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #b6dfb6;
    border-radius: 60px;
    outline-style: none;
    box-shadow: 5px 5px 10px grey;
}
