.Button {
    background-color:#2ed573;
    border-radius: 50px;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    outline-style: none;
    box-shadow: 5px 5px 10px rgb(158, 200, 164);
}