.Button {
    background-color: rgb(76, 217, 100);
    border-radius: 50px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    outline-style: none;
}